*{
    margin: 0;
    padding: 0;
}
:root{
    --clr--:#B13BFF;
}
body{
      font-family: Arial;
   color: white;
    background-image: linear-gradient(to right,black,var(--clr--));  
}
.about{
    display: flex;
}

.sec-two h1{
    color: white;
    margin-top: 100px;
    margin-bottom: 30px;
}
.sec-two p{
    color: white;
    width: 700px;
    letter-spacing: 1.1px;
}
.sec-one img{
    margin-top: 100px;
    height: 600px;
}
.icons-about{
    margin-top: 30px;
}

.icons-about i{
    margin-right: 39px;
    border-radius: 50%;
    font-size: 20px;
    background-color: white;
    color: var(--clr--);
    padding: 10px;
    box-shadow: 0 0 5px white,
    0 0 7px white,
    0 0 9px white;
}
.sec-two h4{
    color: white;
}
.back{
   
    background-color: white;
    border-radius: 5px;
  color: #B13BFF;
}